.filter-cont{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.btn-info{
    color: #fff;
}
.conta{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

}
.invoice-table{
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    
    text-align: center;
}
